version: "3.8"

services:
  php:
    build:
      context: ./docker/php
    container_name: php
    restart: unless-stopped
    volumes:
      - ./server:/var/www
    working_dir: /var/www
    depends_on:
      - mysql
    networks:
      - xplendor

  mysql:
    image: mysql:8.0
    container_name: db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: xplendor
      MYSQL_USER: xplendor
      MYSQL_PASSWORD: xplendor
    ports:
      - "3306:3306"
    volumes:
      - xplendor_mysql:/var/lib/mysql
    networks:
      - xplendor

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./server:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - xplendor

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    depends_on:
      - mysql
    networks:
      - xplendor

  react:
    build:
      context: ./web
    container_name: react
    ports:
      - "5173:5173"
    volumes:
      - ./web:/app
      - /app/node_modules
    networks:
      - xplendor
    environment:
      - CHOKIDAR_USEPOLLING=true

networks:
  xplendor:

volumes:
  xplendor_mysql:
